<center style="color: red; background-color: aquamarine;"> 
    <h2>Cheque se digitou o tom original de forma correta,<br>
    O tom original deve ser de acordo com a cifra Americana que é:  <b>A, B ,C , D, E, F, G</b>
    para tom sustenido use <b>#</b><br>
    não use para definir o tom, notas com <b>7, 9, 11...</b><br>
    ah! e o Expert em Cifra não reconhece tom bemol ok!</h2>

    <p style="color: green;"> Agora Volte e tente novamente e tenha sua cifra em todos os tons.</p>


    <a href="javascript: history.go(-1)">Voltar</a> 
</center>